doctype html
html(lang="pt-BR")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title INCOME.ME | Investimento em renda fixa
		//- link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
		//- link(href='/bootstrap/font-awesome/css/font-awesome.css', rel='stylesheet')
		//- link(href='/bootstrap/css/animate.css', rel='stylesheet')
		//- link(href='/bootstrap/css/style.css', rel='stylesheet')
		//- CSS style modernizr-timeline
		link(href='/bootstrap/css/modernizr-timeline/reset.css', rel='stylesheet')
		link(href='/bootstrap/css/modernizr-timeline/style.css', rel='stylesheet')
		//- CSS style INSPINIA
		link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
		link(href='/bootstrap/font-awesome/css/font-awesome.css', rel='stylesheet')
		link(href='/bootstrap/css/plugins/iCheck/custom.css', rel='stylesheet')
		link(href='/bootstrap/css/plugins/chosen/chosen.css', rel='stylesheet')
		link(href='/bootstrap/css/plugins/colorpicker/bootstrap-colorpicker.min.css', rel='stylesheet')
		link(href='/bootstrap/css/plugins/cropper/cropper.min.css', rel='stylesheet')
		link(href='/bootstrap/css/plugins/switchery/switchery.css', rel='stylesheet')
		link(href='/bootstrap/css/plugins/jasny/jasny-bootstrap.min.css', rel='stylesheet')
		link(href='/bootstrap/css/plugins/nouslider/jquery.nouislider.css', rel='stylesheet')
		link(href='/bootstrap/css/plugins/datapicker/datepicker3.css', rel='stylesheet')
		link(href='/bootstrap/css/plugins/ionRangeSlider/ion.rangeSlider.css', rel='stylesheet')
		link(href='/bootstrap/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css', rel='stylesheet')
		link(href='/bootstrap/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css', rel='stylesheet')
		link(href='/bootstrap/css/plugins/clockpicker/clockpicker.css', rel='stylesheet')
		link(href='/bootstrap/css/plugins/daterangepicker/daterangepicker-bs3.css', rel='stylesheet')
		link(href='/bootstrap/css/plugins/select2/select2.min.css', rel='stylesheet')
		link(href='/bootstrap/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css', rel='stylesheet')
		link(href='/bootstrap/css/animate.css', rel='stylesheet')
		link(href='/bootstrap/css/style.css', rel='stylesheet')
		//http://www.danstools.com refratore code
	body
		#wrapper
			nav.navbar-default.navbar-static-side(role='navigation')
				.sidebar-collapse
					ul#side-menu.nav.metismenu
						li.nav-header
							.dropdown.profile-element
								span
									//- img.img-circle(alt='image', src='img/profile_small2.jpg')
								a.dropdown-toggle(data-toggle='dropdown', href='/default')
									span.clear
										span.block.m-t-xs
											strong.font-bold Income.me
										span.text-muted.text-xs.block Investidores em Renda Fixa
							.logo-element
								| IN+
							li(class=messages.inicio ? 'active' : '')
								a(href='/')
									i.fa.fa-home.fa-lg
									span.nav-label Inicio
							li(class=messages.planejamento ? 'active' : '')
								a(href='/default')
									i.fa.fa-line-chart.fa-lg
									span.nav-label Planejamento
									span.fa.arrow
								ul.nav.nav-second-level.collapse
									li
										a(href='/rendimento-mensal-independencia-financeira')
											| Independência financeira
									li
										a(href='/acumular-capital-com-investimento-mensal')
											| Acumular Capital
											span.label.label-primary.pull-right NEW
									li
										a(href='/investimento-no-periodo') Investimento no período
							li(class=messages.analise ? 'active' : '')
								a(href='/default')
									i.fa.fa-bar-chart.fa-lg
									span.nav-label Análise
									span.fa.arrow
								ul.nav.nav-second-level.collapse
									//- li
									//- 	a(href='/drag') Drag Painel
									//- li
									//- 	a(href='/comparar-investimentos') Comparar investimentos
									li
										a(href='/comparar-simular-cdb') Comparar simular CDB's
									//- li
									//- 	a(href='/default')
									//- 		| Página 03
									//- 		span.label.label-primary.pull-right NEW
							li(class=menu4 ? 'active' : '')
								a(href='/default')
									i.fa.fa-area-chart.fa-lg
									span.nav-label Histórico
									span.fa.arrow
								ul.nav.nav-second-level.collapse
									li
										//- a(href='/titulos_tesouro_direto') Títulos do tesouro
								//- 	li
								//- 		a(href='/default') Página 02
								//- 	li
								//- 		a(href='/default')
								//- 			| Página 03
								//- 			span.label.label-primary.pull-right NEW
							li(class=messages.tesouro ? 'active' : '')
								a(href='/default')
									i.fa.fa-bank.fa-lg
									span.nav-label Tesouro Direto
									span.fa.arrow
								ul.nav.nav-second-level.collapse
									li
										a(href='/titulos-tesouro-direto') Títulos do tesouro
								//- 	li
								//- 		a(href='/default') Página 02
								//- 	li
								//- 		a(href='/default')
								//- 			| Página 03
								//- 			span.label.label-primary.pull-right NEW
							li(class=messages.sobre ? 'active' : '')
								a(href='/sobre')
									i.fa.fa-twitch.fa-lg
									span.nav-label Sobre
		//INICIO CABEÇALHO
		#page-wrapper.gray-bg
			.row.border-bottom
				nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
					.navbar-header
						a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
							//- i +MENU
							.fa.fa-list
					ul.nav.navbar-top-links.navbar-right
						li
							span.m-r-sm.text-muted.welcome-message Bem-vindo ao INCOME+
						li
							a(href='#')
								i.fa.fa-sign-in
								|  Entrar
						li
							a(href='#')
								i.fa.fa-users
								|  Cadastre-se
			block painel
			//INICIO RODAPÉ
			.footer
				.pull-right
					| Desenvolvido por N2
					strong Soluções
					//- |  que geram valor.
				div
					strong Copyright
					|  Income.me © 2016
// HighCharts
script(src='/bootstrap/js/highcharts.js')
// script(src='/bootstrap/js/modules/exporting.js')
script(src='/javascripts/highcharts/graficosHighCharts.js')

// Modernizr timeline
script(src='/bootstrap/js/modernizr-timeline/main.js')
script(src='/bootstrap/js/modernizr-timeline/modernizr.js')

//- TODOS SCRIPTS
// Mainly scripts
script(src='/bootstrap/js/jquery-2.1.1.js')
script(src='/bootstrap/js/bootstrap.min.js')
// Custom and plugin javascript
script(src='/bootstrap/js/inspinia.js')
script(src='/bootstrap/js/plugins/pace/pace.min.js')
script(src='/bootstrap/js/plugins/slimscroll/jquery.slimscroll.min.js')
// Chosen
script(src='/bootstrap/js/plugins/chosen/chosen.jquery.js')
// JSKnob
script(src='/bootstrap/js/plugins/jsKnob/jquery.knob.js')
// Input Mask
script(src='/bootstrap/js/plugins/jasny/jasny-bootstrap.min.js')
// Data picker
script(src='/bootstrap/js/plugins/datapicker/bootstrap-datepicker.js')
// NouSlider
script(src='/bootstrap/js/plugins/nouslider/jquery.nouislider.min.js')
// Switchery
script(src='/bootstrap/js/plugins/switchery/switchery.js')
// IonRangeSlider
script(src='/bootstrap/js/plugins/ionRangeSlider/ion.rangeSlider.min.js')
// iCheck
script(src='/bootstrap/js/plugins/iCheck/icheck.min.js')
// MENU
script(src='/bootstrap/js/plugins/metisMenu/jquery.metisMenu.js')
// Color picker
script(src='/bootstrap/js/plugins/colorpicker/bootstrap-colorpicker.min.js')
// Clock picker
script(src='/bootstrap/js/plugins/clockpicker/clockpicker.js')
// Image cropper
script(src='/bootstrap/js/plugins/cropper/cropper.min.js')
// Date range use moment.js same as full calendar plugin
script(src='/bootstrap/js/plugins/fullcalendar/moment.min.js')
// Date range picker
script(src='/bootstrap/js/plugins/daterangepicker/daterangepicker.js')
// Select2
script(src='/bootstrap/js/plugins/select2/select2.full.min.js')
// TouchSpin
script(src='/bootstrap/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js')
// Chart
script(src='/bootstrap/js/plugins/chartJs/Chart.min.js')
// script(src='/bootstrap/js/demo/chartjs-demo.js')
//FooTable
script(src='/bootstrap/js/plugins/footable/footable.all.min.js')
//dataTable
script(src='/bootstrap/js/plugins/dataTables/datatables.min.js')