extends ../layout

block content
  .ibox-title
    h1 Módulo 02 | Listar usuários
  br
  br
  .col-lg-1
  .col-lg-10
    .btn.btn-info.pull-right
        a.h4(href="/modulo02/cadastrar" title="Cadastrar") Cadastrar
    .ibox.float-e-margins
      .ibox-title
        h5 Tabela para listar
        .ibox-tools
          a.collapse-link
            i.fa.fa-chevron-up          
          a.close-link
            i.fa.fa-times
      .ibox-content
        table.table
          thead
            tr
              th ID
              th Nome:
              th Login:
              th Senha:
              th Data:
              th Ações:
          tbody
            each linha, i in lista
              tr
                td #{linha._id}
                td #{linha.nome}
                td #{linha.login}
                td #{linha.senha}
                td #{moment(linha.data_cad).format('DD/MM/YYYY | HH:MM:SS')}
                td.pull-right
                  a.btn.btn-info(href="editar/#{linha._id}", title="Editar")
                   span.glyphicon.glyphicon-pencil
                  &nbsp
                  a.btn.btn-default(href="show/#{linha._id}", title="Visualizar")
                   span.glyphicon.glyphicon-search
    .ibox-title(style="text-align: right")
      .label.label-primary.pull-right
        a.h4(href="/modulo02" title="Módulo 02") Voltar
//- .footer
//-   .pull-right
//-     h4 Desenvolvido por Fernando Nesi